// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-primary{
    background-color: $blue-500;
    border-color: $blue-500;
    &:hover{
        background-color: $blue-600;
    }
}
